# ✏️ Logic + Filtering
Topics include: comparison operators, logic + control flow, and filtering DataFrames.

## 🧭 Table of Contents

- [📍Comparison + Boolean Operations](#✅-comparison-+-boolean-operations)
- [📍 Logic & Control Flow ](#✅-logic-&-control-flow)
- [📝 Notes](#📝-notes)

## 📍 Comparison & Boolean Operations

### Comparison Operators 
  Used to compare values — result is a Boolean (`True` or `False`). Can be used with integers and strings. 
  - Numeric comparisons (`==`, `!=`, `<`, `>`, `<=`, `>=`)
  - String comparisons (lexical order, equality)
  
[💡 Examples:](#💡-Examples) [▶️ Run cells below](#▶️-run-cells-below)

In [2]:
#Comparison Operators 
#== 
a = 5
b = 5 
print(a == b)
#!=
x = 5
y = 10
print(x != y) 
#> and <
print(2<3)
print('carl' < 'chris')

#>= and <= 
c = 9
d = 11
print(c >= d)

True
True
True
True
False

### Boolean Operators
Used to combine or modify boolean expressions (expressions that evaluate to either `True` or `False`)
- `and`, `or`, `not`

  - `or`: results in `True` if any side is `True`  
    **Example:** `True or False` → `True`

  - `not`: reverses the Boolean value immediately after it  
    **Example:** `not True` → `False`  
    *Note:* `not` is evaluated first due to operator precedence.

**Reminder:** `not` only applies to the first operand in an expression.

- `not True or False`  
  Python reads as: `(not True) or False` → `False or False` → `False`


[💡 Examples:](#💡-Examples) [▶️ Run cells below](#▶️-run-cells-below)

In [3]:
#Boolean AND
my_kitchen = 18.0
your_kitchen = 14.0 

print(my_kitchen >10 and your_kitchen <18)

True

In [4]:
#Boolean OR
my_kitchen = 18.0
your_kitchen = 14.0 
my_kitchen < 14 or my_kitchen > 17

True

In [21]:
#Boolean NOT
print(not True)
print (not False)

False
True

In [6]:
#NOT Applies Only to First Operand
print(not True or False) 
# Explanation: evaluated as (not True) or False -> False or False -> False

False

In [7]:
#Use Parentheses to Change Order
print(not (True or False)) 
# Explanation: evaluated as not (True or False) -> not True -> False

False

In [20]:
#NOT on Both Operands
print(not True or not False) 
# Explanation: (not True) or (not False) -> False or True -> True

True

In [9]:
#Complex NOT Precedence 
x = 8 
y = 9 
print(not(not(x < 3) and not(y > 14 or y > 10)))  

#Explanation: 
# (x < 3 → False → not False → True) 
# (y > 14 or y > 10 → False → not False → True)
# True and True → True → not True → False

False

**Step-by-step Explanation - Complex NOT**
1. Evaluate first expression: `x < 3` → `False`  
2. Evaluate with not: `not (x < 3)` → `not (False)` = `True`

3. Evaluate second expression: `y > 14 or y > 10` → `False or False` -> `False` 
4. Evaluate with not `not (y > 14 or y > 10)` → `not (False)` =  `True`

7. Combine with `and`:  
   `True and True` → `True`

8. Evalute with final outermost `not`:  
   `not (True)` → `False`

**Summary** 
   - The two inner most `nots` are compared and each result in -> `True` 


   - AND combines the two `True` values -> `True` AND `True` -> `True`

   
   - The outermost `not` (immediately after print()) reverses `True` to `False`

## 📍 Logic + Control Flow

### Logical Operations - NumPy Functions
Use the following functions with Boolean operators to compare `arrays` in NumPy
- `np.logical_and()`
- `np.logical_or()`
- `np.logical_not()`


[💡 Examples:](#💡-Examples) [▶️ Run cells below](#▶️-run-cells-below)

In [10]:
# NumPy Logical Operations 
import numpy as np
my_house = np.array([18, 20, 10.75, 9.5])
your_house = np.array([14, 24, 14.25, 9])

#Which areas in my_house are greater than 18.5 OR smaller than 10? 
print(np.logical_or(my_house > 18.5, my_house <10))
#Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house <11))

[False  True False  True]
[False False False  True]

### Control Flow - Conditional Statements

Conditional statements let you control which code runs based on whether a condition is True or False.

- `if`: runs a block of code only if a condition is `True`


- `else`: runs a block of code if **none** of the above conditions were `True`


- `elif`: checks another condition if the previous one was `False`

[💡 Examples:](#💡-Examples)  [▶️ Run cells below](#▶️-run-cells-below)

In [11]:
# if construct 
# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area > 15 : 
    print("big place!")

looking around in the kitchen.

In [12]:
#if - else construct
room = "kit"
area = 14.0

#if-else: room 
if room == "kit" :
    print("looking around in the kitchen.")
else: 
    print("looking around elsewhere")

#if-else: area 
if area > 15: 
    print("big place!")
else : 
    print("pretty small")

looking around in the kitchen.
pretty small

In [13]:
# if-elif-else 
room = "bed"
area = 14.0

#if-elif-else construct for room 
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10: 
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

## 📍 Filtering Pandas DataFrames

### Select a Subset in a DataFrame

Example:  Select countries in brics.csv with area greater than 8million km

- Select the desired column (area)
- Perform a comparison on that column 
- Use the result to select countries 

[💡 Example](#💡-Example) [▶️ Run cell below](#▶️-run-cell-below)

In [14]:
#Example 
import pandas as pd
brics = pd.read_csv("../data/brics.csv", index_col= 0)
brics.columns.str.strip() #strip leading/trailing whitespace from column names
brics
print(brics)

            country    capital    area  population
code
BR           Brazil   Brasilia   8.516      200.40
RU           Russia     Moscow  17.100      143.50
IN           India   New Delhi   3.286     1252.00
CH            China    Beijing   9.597     1357.00
SA     South Africa   Pretoria   1.221       52.98

In [15]:
#Step 1: Get column
brics["area"]

#Can also use .loc or .iloc 
# brics.loc[:, "area"]
#brics.iloc[:, 2]

code
BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [16]:
#Step 2: Compare 
# Goal: area > 8km 
brics["area"] > 8
is_huge = brics["area"] > 8 
is_huge

code
BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [17]:
#Step 3: Subset DataFrame
is_huge
brics[is_huge]

     country   capital    area  population
code
BR    Brazil  Brasilia   8.516       200.4
RU    Russia    Moscow  17.100       143.5
CH     China   Beijing   9.597      1357.0

In [18]:
#Example: Combine 3 steps into one 
brics[brics["area"] > 8 ]

     country   capital    area  population
code
BR    Brazil  Brasilia   8.516       200.4
RU    Russia    Moscow  17.100       143.5
CH     China   Beijing   9.597      1357.0

In [19]:
#Boolean Operators + Filtering 
#Example: use NumPy Boolean Operation to show only data for countries with an area between 8 and 10 km
import numpy as np 
np.logical_and(brics["area"] > 8, brics["area"] < 10)
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

     country   capital   area  population
code
BR    Brazil  Brasilia  8.516       200.4
CH     China   Beijing  9.597      1357.0

## 📝 TO DO 

- Add examples with np.logical(and)...